header {
  @include font-open-sans('bold');
  background: $blue;
  color: $font-light;
  height: 200px;
  .title-row {
    overflow-x: hidden;
    overflow-y: visible;
    height: 230px;
    #bom-container {
      position: relative;
      img {
        width: 205px;
        position: absolute;
        left: -43px;
        top: -40px;
        z-index: 9;
      }
    }
    #title-container {
      padding-left: 4px;
      padding-top: 48px;
      h1 {
        text-transform: uppercase;
        font-size: 46px;
        line-height: 55px;
        margin: 0;
      }
    }
  }
}

.form-container {
  @include font-open-sans();
  background: $light-gray;
  color: $font-dark;
  .form-row {
    padding-left: 20px;
    padding-right: 34px;
    input {
      @include input();
      padding: 12px 10px 8px 23px;
    }
    .button-container {
      padding-left: 0px;
      float: right;
      input[type="submit"] {
        @include font-open-sans();
        background: $blue;
        color: $font-light;
        margin-top: 24px;
        margin-bottom: 64px;
        border: none;
        text-transform: uppercase;
      }
    }
    .select2-container {
      @include select2();
    }
  }
  #callout {
    padding-top: 59px;
    padding-left: 36px;
    padding-bottom: 32px;
    p {
      font-size: 28px;
      line-height: 36px;
    }
  }
}

footer {
  @include font-open-sans();
  background: $dark-gray;
  color: $font-light;
  height: 100px;
  a {
    color: $font-light;
    font-size: 34px;
    margin-top: 24px;
    display: inline-block;
  }
}